:root {
    --primary: #E94057;
    --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --gradient: linear-gradient(136deg, rgb(242, 113, 33) 0%, rgb(233, 64, 87) 50%, rgb(138, 35, 135) 100%);
    --img_size: 15vw;
}

* {
    box-sizing: border-box;
}

.product_card_container{
    width: 100%;
    height: auto;
    padding: 0%;
    margin: 0;
}

.product_card_container .product_card {
    position: relative;
    width: 100%;
    background-color: transparent;
    padding: 0;
    border-radius: 0.5vw;
    transform: scale(0.93, 0.93);
    transition: all 0.25s ease-out;
    cursor: pointer;
}

.product_card_container .product_card::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.product_card_container .product_card:hover {
    transform: scale(1, 1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

.product_title{
    color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 8px 0px 0px 0px;
}

.product_title h1{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px 0px 2px 0px;
    padding: 0;
}

.product_title p{
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
}

.product_card_container .img_slider_container {
    position: absolute !important;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
}

.img_slider_container .slider {
    position: absolute;
    background-size: cover !important;
    width: 100%;
    height: 100% !important;
    overflow: hidden;
    border-radius: 0.5vw !important;
    box-shadow: var(--shadow) !important;
    z-index: 0;
}

.img_slider_container .slider .animateIn,
.img_slider_container .slider .animateOut {
    transition: all .3s ease !important;
}

.img_slider_container .Slide-media-446 {
    border-radius: 0.5vh !important;
}

.img_slider_container .Slide-mediaBackground-449 {
    border-radius: 0.5vh !important;
}

.img_slider_container .img_content{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-size: cover !important;
}

.img_slider_container .img_content img {
    width: 40px;
    height: 40px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    vertical-align: middle;
    transition: all .5s ease;
    transform: translateX(-20px);
    opacity: 0;
}

.img_slider_container .img_overlay {
    position:absolute;
    left:0;
    right:0;
    width: inherit;
    height: inherit;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 70%);
    z-index: 2;
}

.size_label {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    right: 0 !important;
    margin: 10px;
    z-index: 13;
    background-color: white;
    box-shadow: none;
    color: black;
    border-radius: 0.5vw;
    font-size: 0.95em;
    padding: 2px 12px 2px 12px;
}

.size_label p{
    margin: 0;
    padding: 0;
}

.size_label span{
    font-weight: bold;
}

.product_left_arrow {
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    top: 50%;
    left: 0;
    transform: translate(0%, -40%);
    margin-left: 10px;
    cursor: pointer;
    transition: all .2s ease-out !important;
    z-index: 12;
}

.product_left_arrow:hover {
    color: rgba(255, 255, 255, 1);
}

.product_right_arrow {
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    top: 50%;
    right: 0;
    transform: translate(0%, -40%);
    margin-right: 10px;
    cursor: pointer;
    transition: all .2s ease-out !important;
    z-index: 10;
}

.product_right_arrow:hover {
    color: rgba(255, 255, 255, 1);
}

