:root {
    --step_size: 55px;
    --primary: #E94057;
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --transition-duration: 0.2s;
    --gradient: linear-gradient(136deg, rgb(242, 113, 33) 0%, rgb(233, 64, 87) 50%, rgb(138, 35, 135) 100%);
}

.clothes_assistant_container {
    width: 100%;
    height: 85vh;
    font-family: 'Product Sans';
    background: var(--gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clothes_assistant{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer_social_media_btn:hover {
    background-color: var(--content-color);
    color: white;
    border: solid 1px transparent;
}

.footer_social_media_icons {
    vertical-align: middle;
}

.clothes_assistant_left_arrow {
    position: absolute;
    color: white;
    top: 48%;
    left: 0;
    margin-left: 24px;
    cursor: pointer;
    transition: all .2s ease-out !important;
    z-index: 12;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px 4px 2px;
    border-radius: 50%;
    border: solid 1px white;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.clothes_assistant_left_arrow:hover {
    background-color: white;
    color: rgb(242, 113, 33);
    border: solid 1px transparent;
}

.clothes_assistant_right_arrow {
    position: absolute;
    color: white;
    top: 48%;
    right: 0;
    margin-right: 24px;
    cursor: pointer;
    transition: all .2s ease-out !important;
    z-index: 12;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 2px 4px 6px;
    border-radius: 50%;
    border: solid 1px white;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.clothes_assistant_right_arrow:hover {
    background-color: white;
    color: rgb(138, 35, 135);
    border: solid 1px transparent;
}

.clothes_assistant_carousel {
    width: 78%;
    height: 100%;
}

.clothes_assistant_content {
    height: 79vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Product Sans';
}

.clothes_assistant_content h1{
    font-family: 'Product Sans' !important;
    width: 75%;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}

.clothes_assistant_content p{
    font-family: 'Product Sans' !important;
    width: 50%;
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 0;
    margin-top: 28px;
}

.MuiInputBase-input {
    color: white !important;
}

.MuiInputLabel-outlined {
    color: rgba(255, 255, 255, 0.75) !important;
}

.clothes_assistant_categories_container{
    margin-top: 7vh;
}

.clothes_assistant_categories_container_2 {
    margin-top: 3vh;
}

.clothes_categories {
    width: auto;
    height: auto;
    cursor: pointer;
}

.clothes_categories_img {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    object-fit: cover;
    object-position: top right;
}

.clothes_categories_img_overlay {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    margin-bottom: 1.5vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
    cursor: pointer;
}

.clothes_categories_img_overlay_selected {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    margin-bottom: 1.5vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
    cursor: pointer;
    box-shadow: 0 0 0 0.8vh white;
}

.clothes_categories_txt_1{
    width: 80% !important;
    position: relative;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 0 !important;
    margin-left: 2.5vh !important;
    margin-top: 1.5vh !important;
    text-align: start !important;
}

.clothes_categories_txt {
    width: auto !important;
    position: relative;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 0 !important; 
    margin-left: 2.5vh !important;
    text-align: start !important;
}

.clothes_categories_txt:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: white;
    transition: .2s width linear;
}

.clothes_categories_txt.left:after {
    width: 30%;
}

.clothes_categories_img_overlay:hover .clothes_categories_txt.left:after {
    width: 100%;
}

.clothes_categories_img_overlay_selected .clothes_categories_txt.left:after{
    width: 100% !important;
}

.clothes_subcategories_container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

ul.ks-cboxtags {
    list-style: none;
    display: inline-block !important;
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 5px !important;
}

ul.ks-cboxtags li {
    display: inline;
    white-space: nowrap;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: transparent;
    border: 2px solid white;
    color: rgba(255, 255, 255, .85);
    font-weight: 500;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
    transition: all .2s;
}

ul.ks-cboxtags li label:hover {
    color: white;
    border: 2px solid white;
    transition: all .2s;
    background-color: rgba(255, 255, 255, 0.3);
}

ul.ks-cboxtags li label:before {
    display: none;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    visibility: visible;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: '\f067';
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label:before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type=checkbox]:checked+label {
    border: 2px solid white;
    background: white;
    color: var(--primary);

    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.clothes_assistant_details_container{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clothes_assistant_detail_content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 18px;
    border-radius: 0.5vw;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.clothes_assistant_detail_content h3 {
    color: white;
    font-weight: normal;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
}

.clothes_assistant_detail_warning{
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 12px !important;
    text-align: start !important;
}

.clothes_assistant_details_sizes_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
}

.clothes_assistant_detail_usedtime_container{
    width: 100%;
    height: auto;
    margin-top: 16px;
}

.clothes_assistant_detail_usedtime_container .MuiOutlinedInput-root {
    color: white !important;
    border-color: white !important;
}

.clothes_assistant_detail_usedtime_container .MuiSelect-icon {
    color: rgba(255, 255, 255, 0.4);
}

.clothes_assistant_detail_usedtime_container .MuiOutlinedInput-notchedOutline {
    border: solid 2px rgba(255, 255, 255, 0.4)
}

.clothes_assistant_detail_usedtime_container .MuiOutlinedInput-root:hover .MuiSelect-icon {
    border-color: white !important;
}

.clothes_assistant_detail_usedtime_container .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border: solid 2px rgba(255, 255, 255, 1)
}

.Mui-focused {
    color: white !important;
    border-color: white !important;
}

.react-carousel-dots-dot {
    border: 1px solid white !important;
    background-color: transparent !important;
    transition: all 0.15s ease-in-out !important;
}

.react-carousel-dots-dot.active{
    background-color: white !important;
    transition: all 0.15s ease !important;
    border: none !important;
}

.clothes_assistant_footer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 18px 0 28px 0;
}
