.Slide-media-446 {
    border-radius: 0.5vw !important;
}

.Slide-mediaBackground-449 {
    border-radius: 0.5vw !important;
}
.slider a.previousButton {
    display: show !important;
    z-index: 6;
}
.slider a.nextButton {
    display: show !important;
    z-index: 6;
}   
.slider * {
    box-sizing: border-box;
    padding: 0;
    fill: white;
}

.sliderContent .carousel-overlay{
    position:absolute;
    left:0;
    right:0;
    width: inherit;
    height: inherit;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    z-index: 2;
    border-radius: 0.5vw;
  }
.TextCarouselContent{
    display: flex;
    flex: 1 1;
    flex-wrap: initial;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 13vh;
    padding-bottom: 2vh;
    margin-right: 11vh;
}
.TextCarousel{
    height:100%;
}

p{
    margin-top: 0;
    text-align: initial;
    color: white;
}

h1{
    margin-bottom: 0vh;
    color: white;
}


.sliderContent {
    border-radius: 0.5vw;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	text-align: center;
    background-size: cover !important;

}
.sliderContent before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    bottom: 0;
    left: 0;
}
.sliderContent img{
    width: 40px;
    height: 40px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    vertical-align: middle;
    transition: all .5s ease;
    transform: translateX(-20px);
    opacity: 0;
}